.card{
  box-shadow: 0 0 0.4rem var(--text);
  border-radius: 1rem;
  min-height: 32vh;
  max-height: 46vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  .topSection{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 1rem;

    > div{
      display: flex;
      flex-direction: column;

      strong{
        font-size: 2.8rem;
        font-weight: 500;
        color: var(--theme);
      }

      span{
        font-size: 1.8rem;
        font-weight: 600;
      }

      p{
        font-size: 1.1rem;
        margin-top: 1rem;
      }
    }

    .imgContainer{
      flex: 1;
      img{
        width: 20vh;
        border-radius: 50%;
        margin: auto;
      }
      svg{
        width: 16vh;
        height: 16vh;
        margin: auto;
      }
    }
  }

  .bottomSection{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;

    > span{
      text-decoration: underline;
    }

    .connections{
      span{
        padding: 0.25rem 0.6rem;
        background: var(--theme-dark);
        border-radius: 0.25rem;
        & + span{
          margin-left: 1rem;
        }
        &:hover{
          cursor: pointer;
        }
      }
    }
  }

}